body {
  background-color: #FFFCE8;
}

.pageTitle {
  background-color: #697A21;
  color: #FFFCE8;
  margin: 0;
  padding: 10px;
}

input {
  margin: 10px;
  height: 25px;
  border: 2px solid #3E363F;
}

.App {
  text-align: center;
}